* {
  margin: 0;
  padding: 0;
}
/*page reset----------------------------------------------------*/

#header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

/*Navigation---------------------------------------------------*/
.nav {
  display: flex;
  justify-content: space-around;
}

#logo {
  width: 300px;
  display: flex;
  padding: 0 20px;
  color: MediumAquamarine;
}

.nav li {
  list-style: none;
  margin: 10px;
}

.nav li a {
  color: black;
}

/*Main Content Area------------------------------------------*/
.container {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#large {
  width: 45%;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
}

#medium {
  width: 25%;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}

#small {
  width: 20%;
  display: flex;
  flex-direction:column;
  align-items: center;
}

#stories {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#stories div {
  width: 300px;
}


.article {
  margin: 5px 0;
}

#mainart, #firstart,
#secondart, #thirdart {
  height: 300px; /*height of all imgs*/
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#mainart p {
  font-size: 40px;
}

/*just the images--------------------------------------------------*/
#mainart {
  background-image: url("imgs/img-story-main.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#firstart {
  width: 300px;
  background-image: url("imgs/img-story-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#secondart {
  background-image: url("imgs/img-story-2.png");
}

#thirdart {
  background-image: url("imgs/img-story-3.png");
}

.centerart {
  text-align: center;
}

/*third column lists------------------------------------*/
#nbart {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#mobilebite {
  display: none;
}

#nb {
  font-size: 16px;
  font-weight: bold;
}

#bites ul {
  list-style: none;
}

#bites ul li {
  margin: 20px 0;
}

#bites ul li:first-child {
  margin-top: 0px;
}

#bites ul li:last-child {
  margin-bottom: 0px;
}

#bites {
  display: flex;
  flex-direction: column;
  background-color: whiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray
}

/*guess-----------------------------------------------------*/
#footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
}

#times {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 15px;
  border-right: solid white 1px;
}
/*---------------------------------------breakpoint1*/
@media only screen and (max-width: 690px) {
  body {
    background-color: ;
  }

  #header {
    box-sizing: border-box;
  }

  .container {
    flex-direction: column;
  }

  #large, #small {
    width: 100%;
    box-sizing: border-box;
  }

  #medium {
    width: 95%;
    align-items: flex-start;
    margin: 15px;
  }

  #small {
    flex-direction: row;
    justify-content: space-around;
  }

  #article1 {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 616px) {
  body {
    background-color: red;
  }

  #stories {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    border: solid green;
  }
  #sect1, #sect2 {
    width: 800px; /*Fix this*/
    border: solid yellow;
  }

  #small {
    justify-content: center;
    border: solid green;
  }

  #normbite {
    display: none;
  }

  #nbart {
    align-items: center;
  }

  #mobilebite {
    height: 10%;
    width: 10%;
    display: inline-block;
  }

  #bites {
    text-align: center;
  }
}
