#header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
/*  position: fixed; testing the container height */
}

#nav {
  display: flex;
  justify-content: space-around;
}

#logo {
  width: 300px;
  display: flex;
  padding: 0 20px;
  color: MediumAquamarine;
  border: 1px solid black;
}

#nav li {
  list-style: none;
  margin: 10px;
}

#nav li a {
  color: black;
}


.container {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

#large {
  width: 630px;
  display: flex;
  flex-direction:column;
  border: 1px solid black;
}

#medium {
  width: 300px;
  display: flex;
  flex-direction:column;
  border: 1px solid black;
}

#small {
  width: 240px;
  display: flex;
  flex-direction:column;
  border: 1px solid black;
}

.article {
  border: 1px solid black;
}
